useDynLib(ContentStructure)
export(Create_Output)
export(Run_Full_Model)
importFrom(Rcpp, evalCpp)
import(BH)
import(coda)
import(gplots)
import(ggplot2)
import(grid)
import(RcppArmadillo)
import(slam)
import(snowfall)
import(vegan)