useDynLib(ContentStructure)
export(Generate_Diagnostics_All_Datasets)
export(Run_Full_Model)
export(Cluster_Run_Models)
importFrom(Rcpp, evalCpp)
import(BH)
import(coda)
import(gplots)
import(ggplot2)
import(grid)
import(RcppArmadillo)
import(slam)
import(snowfall)
import(vegan)